
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Last Sensor Value</h1>
    <p></p>
    <iframe src="http://localhost:7071/api/sensordata/">
</div>